*{
    margin: 0;
    padding: 0;
}
body{
	margin:0;
	padding:20px;
	font-family: sans-serif;
}
.alert-box{
    margin-top: 10px;
}
.alert-box h1{
    margin-left: 20px;
}

.alert-main-box{
    margin: 5px;
	padding: 5px;
    height: fit-content; 

	border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	/* border: 2px solid rgb(32, 236, 66); */
}
.alert-add{
    /* border: 2px solid blue; */
	color: #444;
    display: block;
    padding: 21px;
    position: relative;
}
.box-title{
	display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
}


.btn{
	float: right;
	background-color: #3c8dbc;
    border-color: #367fa9;
	color: white;
	border-radius: 3px;
	padding: 5px 10px;
    border: 1px solid transparent;
	font: 200;
}
.btn img{
	height: 15px;
	width: 15px;
	float: left;
	filter: invert(100%);		
	margin-right: 5px;
}	
.alert-sel{
    /* border: 2px solid red; */
	height: 65px;
	/* padding: 10px 10px 10px 10px;	  */
}
.sub-box{
	/* border: 2px solid rgb(49, 212, 4); */
	width: 50%;
	height: 80px;
	margin: auto;
	position: relative;
}
.select-type-box{
	/* border: 2px solid gray; */
	width: 50%;
	padding: 10px;
	float: left;
	/* margin: 10px; */
}
.form-control{
	padding: 5px 10px;
	width: 100%;
  }
.type-box{
	/* border: 2px solid blue;  */
	/* padding: 10px; */
	/* margin-left: 2rem; */
	margin: 10px;
	width: 80px;
	float: left;
}
.type-box label{
	color: transparent;
}
.search-box{
	/* border: 2px solid blue;  */
	padding: 10px;
	width: 25%;
	float: left;
} 
.btn-search{
	background-color: #3c8dbc;
    border-color: #367fa9;
	color: white;
	width: 100%;
	border-radius: 3px;
	padding: 5px 10px;
    border: 1px solid transparent;
}
.btn-reset{
	background-color: #dddddd;
    border-color: #dddddd;
	color: rgb(0, 0, 0);
	width: 100%;
	border-radius: 3px;
	padding: 5px 10px;
    border: 1px solid transparent;	
}

.header{
	width: 100%;
	/* height: 100px; */
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* border: 2px sol	id gold	; */
}

.items-controller,
.search{
	flex-shrink: 0;
	display: flex;
	align-content: center;
	align-items: center;
}
select{
	padding: 2px;
	margin: 0 10px;
	outline: none;
	cursor: pointer;
	/* border: none; */
	background: transparent;
}
.search > input{
	padding: 8px;
	/* border: none; */
	outline: navajowhite;
	margin: 0 0 0 20px;
	background: white;
}
.field{
	/* width: 90%; */
	height: auto;
	margin: auto;
}
table{
	width: 100%;
	margin: 2px auto;
	table-layout: auto;
	color: #757575;
	background-color: #ffff;
	border-collapse: collapse;
	border-spacing: 0;
	text-align: left;
	/* border: 2px solid green; */
}
table tr th{
	background-color: darkblue;
	color:#ffffff;
}
table tr th, td{
	padding: 10px;
	border: 1px solid #ccc;
}
.bottom-field{
	/* border: 2px solid red; */
	width: 100%;
	height: 50px;
	/* padding: 20px; */
	/* margin-top: 20px; */
	
}
.left{
	float: left;
	/* border: 2px solid gold; */
	margin: 15px;
}
.right{
	float: right;
	/* border: 2px solid gold; */
	margin: 10px;
}
.pagination{
display: flex;
justify-content: center;
align-items: center;
}
.pagination li{
list-style: none;
padding: 5px;
/* margin: 10px; */
flex-shrink: 0;
text-align: center;
/* border-radius: 5px; */
border: 1px solid #999;
color: #999;

}
.prev{
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.next{
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.pagination li.active{
background: darkblue;
color: white;
border-color: darkblue;

}
.pagination li a{
text-decoration: none;
padding: 3px 8px;
color: inherit;
display: bloc k;
font-family: sans-serif;
font-size: 13px;
}
i.fa-edit{color: lime;}
i.fa-trash{color: red;}

/* .show-control-form{
	padding: 5px;
	width: 50px;
	margin: 2px;
} */











@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);

* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-o-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}



.container {
	max-width:400px;
	width:100%;
	margin:0 auto;
	position:relative;
}



/**************************************responsive*********************/
@media(max-width: 500px){
	.table thead{
		display: none;
	}

	.table, .table tbody, .table tr, .table td{
		display: block;
		width: 100%;
	}
	.table tr{
		margin-bottom:15px;
	}
	.table td{
		text-align: right;
		padding-left: 50%;
		text-align: right;
		position: relative;
	}
	.table td::before{
		content: attr(data-label);
		position: absolute;
		left:0;
		width: 50%;
		padding-left:15px;
		font-size:15px;
		font-weight: bold;
		text-align: left;
	}
}
