.container{

  margin: 10px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;
}

thead {
  background-color: rgb(186, 188, 188);
}

thead,
tr,
th {
  width: 5px;
}

td,
th {
  border: 1px solid #181717;
  text-align: left;
  padding: 8px;
}

/* tr:nth-child(even) {
    background-color: #dddddd;
  } */
.btn {
  padding: 10px;
  border: none;
  border-radius: 5px;

}

.btn a {
  color: white;
  text-decoration: none;

}

.btn-add {
  background-color: rgb(24, 197, 241);
}

.btn-primary {
  background-color: blue;
}

.btn-danger {
  background-color: rgb(243, 49, 49);
}
